server:
  port: 8081

services:
  user-service:
    url: ${USER_SERVICE_URI:http://localhost:8080}
  front:
    url: ${FRONTEND_CLIENT_URL:http://localhost:3000}

spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  datasource:
    url: jdbc:postgresql://${AUTH_DB_HOST:localhost}:${AUTH_DB_PORT:5432}/${AUTH_DB_NAME:user_service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

app:
  jwt:
    secret: "mySecretKeymySecretKeymySecretKeymySecretKey1234567890123456"
    access-token-expiration: 900000
    refresh-token-expiration: 864000000

security:
  internal-token: ${INTERNAL_TOKEN:basic-secure}

management:
  endpoints:
    web:
      exposure:
        include: health, prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
    prometheus:
      enabled: true
      media-type: text/plain

otel:
  exporter:
    otlp:
      endpoint: ${TEMPO_SERVICE_URL:http://tempo:4318}
  traces:
    exporter: otlp
  metrics:
    exporter: none
  logs:
    exporter: none
