services:
  api-gateway:
    build: ./api-gateway
    container_name: api_gateway
    env_file: .env
    ports:
      - "${GATEWAY_SERVER_PORT}:8083"
    depends_on:
      - user-service
      - auth-service
      - order-service
      - payment-service

  payment-service:
    build: ./payment-service
    container_name: payment_service
    env_file: .env
    ports:
      - "${PAYMENT_SERVER_PORT}:8080"
    depends_on:
      - mongo-payment
    environment:
      - SPRING_DATA_MONGODB_URI=mongodb://mongo-payment:27017/${PAYMENT_DB_NAME}

  user-service:
    build: ./user-service
    container_name: user_service
    env_file: .env
    ports:
      - "${USER_SERVER_PORT}:8080"
    depends_on:
      - postgres-user
      - redis
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-user:5432/${USER_DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_DATA_REDIS_HOST: redis
      SPRING_DATA_REDIS_PORT: 6379

  auth-service:
    build: ./auth-service
    container_name: auth_service
    env_file: .env
    ports:
      - "${AUTH_SERVER_PORT}:8081"
    depends_on:
      - postgres-auth
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-auth:5432/${AUTH_DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}

  order-service:
    build: ./order-service
    container_name: order_service
    env_file: .env
    ports:
      - "${ORDER_SERVER_PORT}:8082"
    depends_on:
      - postgres-order
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-order:5432/${ORDER_DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  postgres-user:
    image: postgres:15
    container_name: postgres_user_db
    env_file: .env
    environment:
      POSTGRES_DB: ${USER_DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${USER_DB_PORT}:5432"
    volumes:
      - postgres_user_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis_user_service
    ports:
      - "${REDIS_PORT:-6379}:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes

  postgres-auth:
    image: postgres:15
    container_name: postgres_auth_db
    env_file: .env
    environment:
      POSTGRES_DB: ${AUTH_DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${AUTH_DB_PORT}:5432"
    volumes:
      - postgres_auth_data:/var/lib/postgresql/data

  postgres-order:
    image: postgres:15
    container_name: postgres_order_db
    env_file: .env
    environment:
      POSTGRES_DB: ${ORDER_DB_NAME}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${ORDER_DB_PORT}:5432"
    volumes:
      - postgres_order_data:/var/lib/postgresql/data

  mongo-payment:
    image: mongo:6
    container_name: mongo_payment_service
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  kafka:
    image: confluentinc/cp-kafka:8.1.0
    container_name: kafka
    ports:
      - "9094:9094"
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: broker,controller

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:9094,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:9094
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093

      KAFKA_NUM_PARTITIONS: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
      KAFKA_CLUSTER_ID: "kraft-cluster-1"

    volumes:
      - ./kafka-data:/var/lib/kafka/data

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8086:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=kraft-cluster
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:9092
      - KAFKA_CLUSTERS_0_PROPERTIES_SECURITY_PROTOCOL=PLAINTEXT
    depends_on:
      - kafka


volumes:
  postgres_user_data:
  postgres_auth_data:
  postgres_order_data:
  mongo-data:
  redis_data:
