spring:
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:user_service}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/changelog-master.yml
    enabled: true

server:
  port: ${SERVER_PORT:8080}

app:
  jwt:
    secret: "mySecretKeymySecretKeymySecretKeymySecretKey1234567890123456"

security:
  internal-token: ${INTERNAL_TOKEN:basic-secure}

services:
  front:
    url: http://localhost:3000
